<div class="container">

  <div class="dropdown mt-5 col-12" style="width: 100%;">
    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
      類別
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 100%;">
      {{#each categories}}
      <li><a class="dropdown-item" href="/filter/{{ this.category }}">{{ this.category_cn }}</a></li>
      {{/each}}
      <li><a class="dropdown-item" href="/">全部</a></li>
    </ul>
  </div>
  <div class="m-2 mt-4 col-12">
    <div>總支出</div>
    <div style="text-align: end; display: flex; flex-direction: column; margin-right:14px">
      <h1>${{ totalAmount }}</h1>
    </div>
  </div>
</div>
<form action="/record/new" method="GET"
  style="text-align: right; margin-top:10px; margin-bottom:10px;"><button
    class="btn btn-warning">新增支出</button>
</form>

<table class="table table-striped col-12">
  <tbody>
    {{#each records}}
    <tr>
      <th scope="row" class="col-1" style="vertical-align: middle">
        <i class="{{this.iconClass}} fa-3x ml-3"></i>
      </th>
      <td class="col-2">
        <div>
          <h4>
            {{this.name}}
          </h4>
          <span>
            {{this.date}}
          </span>
        </div>
      </td>      
      <td class="col-2" style="text-align: start; vertical-align: middle">
        商家：{{this.merchant}}
      </td>
      <td class="col-1" style="text-align: end; vertical-align: middle">
        {{this.amount}}
      </td>
      <td class="col-2" style="vertical-align: middle">
        <div class="d-flex justify-content-end align-items-center">
          <form action="/record/{{this._id}}/edit" method="get">
            <button class="btn btn-info">
              修改
            </button>
          </form>
          <form action="/record/{{this._id}}?_method=DELETE" method="POST" class="ml-2">
            <button class="btn btn-danger">
              刪除
            </button>
          </form>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>