<div class="container">
  <div class="input-group filter-category container-fluid col-12 mt-4" style="justify-content: space-around;">
    <div class="col-8">
     <form class="" action="/filter" method="GET"> 
        <div class="col-12">
        <select class="form-control" id="record-category" name="category" onchange="this.form.submit()" style="text-align-last: center;">
          <option disabled selected>類別</option>
          {{#each categories}}
          <option value="{{ this.category }}" name="{{ this.category}}" {{#is this.category ../category }}selected{{/is}} >{{ this.category_cn }}</option>
          {{/each}}
        </select> 
        </div>
        <div class="col-12 mt-2"style="display: flex;">
          <input class="form-control col-8" type="month" id="month" name="month" min="2018-01" onchange="this.form.submit()" value="{{month}}" style="text-align-last: center;">
          <button class="btn btn-outline-danger ml-1"onclick="javascript:month.value=''">X</button>
          <a href="/" class="col-3 ml-2 " style="line-height: 38px;">清空條件</a>
        </div>           
      </form>
    </div>
      
    
    
    
  </div>  
 
  <div class="m-2 mt-4 col-12">
    <div>總支出</div>
    <div style="text-align: end; display: flex; flex-direction: column; margin-right:14px">
      <h1>${{ totalAmount }}</h1>
    </div>
  </div>
</div>
<form action="/record/new" method="GET"
  style="text-align: right; margin-top:10px; margin-bottom:10px;"><button
    class="btn btn-warning">新增支出</button>
</form>

<table class="table table-striped col-12">
  <tbody>
    {{#each records}}
    <tr>
      <th scope="row" class="col-1" style="vertical-align: middle">
        <i class="{{this.iconClass}} fa-3x ml-3"></i>
      </th>
      <td class="col-2">
        <div>
          <h4>
            {{this.name}}
          </h4>
          <span>
            {{this.date}}
          </span>
        </div>
      </td>          
      <td class="col-2" style="text-align: start; vertical-align: middle">
        {{#if this.merchant}}商家：{{this.merchant}}{{/if}}
      </td>      
      <td class="col-1" style="text-align: end; vertical-align: middle">
        {{this.amount}}
      </td>
      <td class="col-2" style="vertical-align: middle">
        <div class="d-flex justify-content-end align-items-center">
          <form action="/record/{{this._id}}/edit" method="get">
            <button class="btn btn-info">
              修改
            </button>
          </form>
          <form action="/record/{{this._id}}?_method=DELETE" method="POST" class="ml-2">
            <button class="btn btn-danger">
              刪除
            </button>
          </form>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>