<div class="container">

  <div class="dropdown mt-5 col-9" style="width: 100%;">
    <button class="btn btn-outline-info dropdown-toggle ml-3" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
      類別
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 94%;">
      {{#each categories}}
      <li><a class="dropdown-item" href="/{{ this.category }}">{{ this.category_cn }}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="m-2 mt-4 col-10">
    <div>總金額</div>
    <div style="text-align: end; display: flex; flex-direction: column; margin-right: 40px;">
      <h1>${{ totalAmount }}</h1>              
    </div>    
  </div>
</div>
<form action="/record/new" method="GET"
  style="text-align: right; margin-top:10px; margin-bottom:18px; margin-right:123px"><button
    class="btn btn-warning">新增支出</button></form>
<table class="table table-striped col-10">  
  <tbody>
    {{#each records}}
    <tr>
      <th scope="row" class="col-1" style="vertical-align: middle"><i class="{{this.iconClass}} fa-3x ml-3"></i></th>
      <td class="col-4">
        <div>
          <h4>
            {{this.name}}
          </h4>
          <span>
            {{this.date}}
          </span>
        </div>
      </td>
      <td class="col-1" style="text-align: end; vertical-align: middle">
        {{this.amount}}        
      </td>
      <td class="col-2" style="vertical-align: middle">
        <div class="d-flex justify-content-end align-items-center">
          <form action="/record/edit" method="get"><button class="btn btn-info">修改</button></form>
          <form action="" method="POST" class="ml-2"><button class="btn btn-danger">刪除</button></form>
        </div>
      </td>
    </tr>      
    {{/each}}
  </tbody>  
</table>
{{!-- <div class="col-10 mt-3" style="text-align: center;">
  <form action="/record/new" method="GET"><button class="btn btn-warning">新增支出</button></form>
</div> --}}